*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 62, 163);
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-dark);
  color: var(--clr-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.card {
  position: relative;
  width: 30rem;
}

.front {
  transition: 250ms;
  .name {
    text-align: center;
    margin: 0.75rem;
    letter-spacing: 0.05rem;
  }
}

.back {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .card-info {
    text-align: center;
  }
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  border-radius: 30px;
  opacity: 0;
}

.card:hover {
  .front {
    transform: translateY(-30%) scale(0.8);
  }

  .back {
    opacity: 1;
  }

  .background {
    transition: transform 220ms cubic-bezier(0.21, 1, 0.81, 1),
      opacity 100ms linear;
    opacity: 1;
    transform: scale(1.4, 1.2);
  }
}

img {
  max-width: 100%;
  border-radius: 30px;
}
